/* This is an example of using Sass, otherwise plain CSS works too*/
$color-primary: #37384E;
$color-secondary: #623842;

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

body{
  display: grid;
  grid-template-areas: 
    "header header header"
    "aside main main";
  grid-template-columns: 340px 1fr 1fr;
  grid-template-rows: 20% auto;
  height: 100vh;
  margin: 0;
  width: 100%;
}


h1 {
  font-family: Montserrat;
  display: inline-block;
  margin: 20px 0px 40px 35px;
  font-size: 67px;
  color: lightgrey;
  font-weight: 400;
}

.logo-thin {
  font-weight: 700;
}

.emphasis {
font-weight: 700;
}

ul, 
li {
  display: inline-block;
    float: right;

}
ul{
  margin: 40px 50px 50px 0px;
  color: lightgrey;
  font-size: 22px;
}

li{
  margin: 10px 10px 10px 10px;
}


header {
  background-color: $color-primary;
  grid-area: header;
  height: 170px;
}

aside{
  background-color: $color-secondary;
  grid-area: aside;
  color: lightgrey;
  text-align: center;
  margin-top: 0px;
  float: left;
  min-width: 300px;
  height: 100%;;
}

.aside__button {
  filter: invert(.27);
  background-color: lightgrey;
  max-height: 40px;
  padding: 5px;
}

.aside__button-search {
  min-width: 40px;
}

.aside__button-add {
    padding: 9px 0px 9px 0px;
}

.bignum {
  font-size: 70px;
  margin: 0px 0px 0px 0px;
}


.aside__input-container {
  display: flex;  
  margin: 0px 0px 20px 40px;
}

input {
  height: 40px;
  width: 70%;
  margin: 0px 0px 0px 0px;
}

::placeholder {
  font-size: 14px;
  padding: 10px;}

main {
  grid-area: main;
  background-color: blanchedalmond;
  color: #37384E;
  height: 100%;
  position: relative;
  overflow:auto; 
}

.main__section {
  text-align: center;
  font-size: 16px;
}


h5 {
  font-size: 28px;
  margin: 25px 0px 0px 0px;
  font-weight: 700;
  padding: 0px;
  text-align: center;
}

h6 {
  margin: 0px 0px 100px 0px;
}

.display-revenue, 
.display-record {
  display: inline-block;
  margin: 35px 71px 0px 71px;
}

.main__input-container {
  display: flex;  
  justify-content: center;
}

#main__section-booking {
 background-color: green 
}

.main__date-search{
  width: 140px;
}

fieldset {
  margin: 15px 15px 15px 15px
}

table, th, td {
  border: 1px solid black;
}

.main__button {
  filter: invert(.27);
  background-color: lightgrey;
  max-height: 40px;
  padding: 5px;
}

.main__button-search {
  min-width: 40px;
}

.main__input{
  background-color: white;
  font-size: 20px;
}

.main__customer-selected {
  border: 2px solid black;
  max-width: 75%;
}

.main__customer-rooms-selected-booking {
  border: 2px solid black;
  min-width: 70%;
  display: inline-block;
}

.order-card,
.booking-card {
  border: 1px solid grey; 
  margin: 5px 5px 5px 5px;
}

.main__customer-rooms-selected-booking-info {
  margin: 5px 0px 5px 0px
}

footer {
  background-color: #849974;
  width:100%;
  height: 100px;
  position:absolute;
  bottom:0;
}

.footer__prompt-main-message {
  margin: 13px 0px 0px 0px;
  font-size: 20px;
  text-align: center;
}

.footer__prompt-clickable{
  margin: 5px 5px 5px 5px;
}

.footer__prompt-clickable:hover {
  color: lightgrey;
}
